<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connections</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <button onclick="window.location.href='{{ url_for('index') }}'" class="back-button">Back</button>
    <header>
        <h1>Connections</h1>
    </header>
    <main>
        <div class="game-content">
            <div class="grid-container">
                {% for i in range(16) %}
                <div class="grid-item">
                    <input type="text" class="edit-mode"/>
                </div>
                {% endfor %}
            </div>
            <div id="best-guesses-container">
                <h2>Best Guesses</h2>
                <ol id="best-guesses-list">
                    <li>Guesses will appear here!</li>
                </ol>
            </div>
            <div class="button-container">
                <button class="action-button" id="fillTodaysButton">Fill Today's Puzzle</button>
                <button class="action-button" id="clearButton">Clear</button>
            </div>
            <div class="button-container">
                <button class="action-button" id="deselectButton" disabled>Deselect All</button>
                <button class="action-button" id="editButton" disabled>Start Game</button>
            </div>
            <div class="radio-button-container">
                <button class="action-button" id="submitButton" disabled >Submit Guess</button>
                <label>
                    <input type="radio" name="option" value="0" class="radio-button" disabled checked>Wrong
                </label>
                <label>
                    <input type="radio" name="option" value="3" class="radio-button" disabled>One Away
                </label>
                <label>
                    <input type="radio" name="option" value="4" class="radio-button" disabled>Correct
                </label>
            </div>
        </div>
    </main>
    <footer class="footer"></footer>
    <script>
        class Guess {
            constructor(grouping, numGrouped) {
                this.grouping = grouping;
                this.numGrouped = numGrouped;
            }
        }

        const clearButton = document.getElementById("clearButton");
        const deselectButton = document.getElementById("deselectButton");
        const editButton = document.getElementById("editButton");
        const fillTodaysButton = document.getElementById("fillTodaysButton");
        const submitButton = document.getElementById("submitButton");

        const radioButtons = document.querySelectorAll(".radio-button");
        const bestGuessesList = document.getElementById("best-guesses-list");

        const gridItems = document.querySelectorAll(".grid-item");
        const inputs = document.querySelectorAll(".grid-item input");

        let guesses = [];
        let numSolutionsFound = 0;

        inputs[0].focus();

        function deselectAllGridElements() {
            gridItems.forEach(item => {
                item.classList.remove("selected");
            });
        }

        function updateGridItemSelectability() {
            const selectedItems = Array.from(document.querySelectorAll(".grid-item.selected"));
            for (let i = 0; i < gridItems.length; i++) {
                if (i < numSolutionsFound * 4) {
                    gridItems[i].classList.remove("selectable");
                } else if (selectedItems.length === 4) {
                    if (selectedItems.includes(gridItems[i])) {
                        gridItems[i].classList.add("selectable");
                    } else {
                        gridItems[i].classList.remove("selectable");
                    }
                } else {
                    gridItems[i].classList.add("selectable");
                }
            }
        }

        function checkAllInputsFilled() {
            for (let i = 0; i < inputs.length; i++) {
                if (inputs[i].value === "") {
                    return false;
                }
            }

            return true;
        }

        function enterEditMode() {
            inputs.forEach(input => {
                input.disabled = false;
            });

            radioButtons.forEach(button => {
                button.disabled = true;
            });

            clearButton.disabled = false;
            fillTodaysButton.disabled = false;
            deselectButton.disabled = true;

            gridItems.forEach(item => item.classList.remove('selectable'));
            gridItems.forEach(item => item.classList.remove('correct'));
            editButton.textContent = "Start Game";

            guesses = [];
            numSolutionsFound = 0;
            deselectAllGridElements();
        }

        function exitEditMode() {
            inputs.forEach(input => {
                input.disabled = true;
            });

            clearButton.disabled = true;
            fillTodaysButton.disabled = true;
            deselectButton.disabled = false;

            submitGuesses();

            gridItems.forEach(item => item.classList.add('selectable'));
            editButton.textContent = "Edit Board";
        }
    
        clearButton.addEventListener("click", function() {
            bestGuessesList.innerHTML = "";
            inputs.forEach(input => input.value = "");
            inputs[0].focus();
            editButton.disabled = true;
        });

        deselectButton.addEventListener("click", function() {
            deselectAllGridElements();
        });
    
        editButton.addEventListener("click", function() {
            const isEditing = !inputs[0].disabled;
            inputs.forEach(input => {
                input.disabled = isEditing;
                input.classList.toggle('edit-mode', !isEditing);
            });
    
            if (!isEditing) {
                inputs[0].focus();
                enterEditMode();
            } else {
                exitEditMode();
            }
        });

        fillTodaysButton.addEventListener("click", function() {
            fetch('/api/connections/todays_puzzle') 
                .then(response => response.json())
                .then(data => {
                    let board = data["result"]
                    if (board && board.length === 16) {
                        inputs.forEach((input, index) => {
                            input.value = board[index];
                        });
                        editButton.disabled = false;
                    } else {
                        console.error('Invalid response from API');
                    }
                })
                .catch(error => console.error('Error fetching words:', error));
        });

        function submitGuesses() {
            const wordList = Array.from(inputs).map(input => input.value);

            fetch('/api/connections', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ wordList, guesses })
            })
            .then(response => response.json())
            .then(data => {
                const groupings = data["result"];
                bestGuessesList.innerHTML = "";
                let numGuesses = Math.min(groupings.length, 5);
                for (let i = 0; i < numGuesses; i++) {
                    const guess = groupings[i];
                    const guessItem = document.createElement("li");
                    guessItem.textContent = guess;
                    bestGuessesList.appendChild(guessItem);
                }
            })
            .catch(error => console.error('Error fetching guess suggestions:', error));

            submitButton.disabled = true;
            radioButtons.forEach(button => {
                button.disabled = true;
            });

            deselectAllGridElements();
            updateGridItemSelectability();
        }
    
        submitButton.addEventListener("click", function() {
            const selectedItems = document.querySelectorAll(".grid-item.selected");
            if (selectedItems.length !== 4) return;  // Ignore clicks when not all items are selected

            const grouping = Array.from(selectedItems)
                                .map(item => item.querySelector("input").value)
            const numGrouped = parseInt(document.querySelector('input[name="option"]:checked').value);
            if (isNaN(numGrouped)) return;  // Ignore clicks when no radio button is selected
            if (numGrouped === 0 && guesses.length === 2) {
                numGrouped = 2;
            }

            if (numGrouped === 4) {
                let gridItemsToSwap = Array.from(gridItems)
                                        .slice(numSolutionsFound * 4, numSolutionsFound * 4 + 4)
                let inputsToSwap = gridItemsToSwap.map(item => item.querySelector("input"));
                // Swap the values of the selected items with the values of the items in the rowToSwap
                for (let i = 0; i < selectedItems.length; i++) {
                    // store the value of the selected item
                    let temp = selectedItems[i].querySelector("input").value;
                    // set the value of the selected item to the value of the item in rowToSwap
                    selectedItems[i].querySelector("input").value = inputsToSwap[i].value;
                    // set the value of the item in rowToSwap to the stored value
                    inputsToSwap[i].value = temp;

                    gridItemsToSwap[i].classList.add("correct")
                }

                numSolutionsFound++;
            }

            const guess = new Guess(grouping, numGrouped);
            guesses.push(guess);

            submitGuesses();
        });

        gridItems.forEach(item => {
            item.addEventListener("click", function() {
                if (!item.querySelector("input").disabled) return;  // Ignore clicks when in edit mode
                if (!item.classList.contains("selectable")) return;  // Ignore clicks on non-selectable items

                item.classList.toggle("selected");
                const selectedItems = document.querySelectorAll(".grid-item.selected");
                if (selectedItems.length === 4) {
                    submitButton.disabled = false;
                    radioButtons.forEach(button => {
                        button.disabled = false;
                    });
                } else {
                    submitButton.disabled = true;
                    radioButtons.forEach(button => {
                        button.disabled = true;
                    });
                }

                updateGridItemSelectability();
            });
        });

        inputs.forEach(input => {
            input.addEventListener("input", function() {
                if (checkAllInputsFilled()) {
                    editButton.disabled = false;
                } else {
                    editButton.disabled = true;
                }
            });
        });
    </script>
</body>
</html>
